body {
  background-color: #002502;
  color: white;
  text-align: center;
}

.x.axis, .y.axis, body {
  font: 15px 'Chakra Petch', sans-serif;
}

.graph-svg-component {
  background-color: #e0e000;
  display: block;
  margin: auto;
}

.axis path, .axis line {
  fill: none;
  stroke: #ffffff;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  border-radius: 4px;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  background:
    linear-gradient(
      to right,
      #1f8300,
      #1f8300
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

header h1 {
  font-size: 30px;
  font-weight: 750;
  color: #fff3bb;
  border-right: 4px solid #000;
  animation: cursor 1s infinite step-end, typing 15s infinite steps(22);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes cursor{
  0%, 100%{border-color: transparent;}
  50%{border-color: #1f8300;}
}

@keyframes typing{
  0%{ width: 0ch} /*Text is hidden*/
  30%{ width: 22ch;} /*The enitre header will be typed out*/
  80%{ width: 22ch;} /*Text stays visible*/
  90%{ width: 0ch;} /*Text is deleted*/
  100%{ width: 0ch;} /*Text stays hidden*/
}

